# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>GDSC SMLM>Examples, "GDSC SMLM View Localisations", uk.ac.sussex.gdsc.smlm.ij.example.plugins.View_Localisations
